@model website1.Models.NhanVien
@{
    ViewBag.Title = "xuatNVCoDiemCaoNhat";
}

<div class="container bg-light">
    <h2>Nhan vien co diem cao nhat</h2>
    <p>Mã nhân viên: @Model.MaNV</p>
    <p>Tên nhân viên: @Model.TenNV</p>
    <p>Ngày sinh: @Model.NgaySinh</p>
    <p>Điểm thi: @Model.DiemThi</p>
</div>

